<section class="bg-white p-0 md:py-10 flex justify-start">
  <div class="w-full md:w-1/2 max-w-[600px] md:mr-0 lg:mr-auto">
    <%= simple_form_for plan, defaults: { input_html: { class: "max-w-2xl px-0 2xr:px-0" } } do |f| %>
      <div class="mt-6 sm:mt-8 space-y-4">
        <div class="space-y-4">
          <div class="grid grid-cols-1 gap-4">
            <div>
              <%= f.input :name,
                          label: "Nome do Plano",
                          label_html: { class: "mb-2 block text-sm font-medium text-gray-900 dark:text-gray-900" },
                          input_html: {
                            value: plan.name,
                            required: true,
                            class: "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900
                              focus:border-blue-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-100
                              dark:text-gray-800 dark:placeholder:text-gray-400 dark:focus:border-primary-900
                              dark:focus:ring-primary-500"
                          }
              %>
            </div>
            <div>
              <%= f.input :description, as: :text,
                          label: "Descrição *",
                          label_html: { class: "mb-2 block text-sm font-medium text-gray-900 dark:text-gray-900"},
                          input_html: {
                            value: plan.description,
                            required: true,
                            rows: 3,
                            class: "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900
                              focus:border-blue-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-100
                              dark:text-gray-800 dark:placeholder:text-gray-400 dark:focus:border-primary-500
                              dark:focus:ring-primary-500 min-h-[100px]"
                          }
              %>
            </div>
            <div>
              <%= f.input :features_list,
                          hint: "Separe as características por vírgula",
                          hint_html: { class: "text-sm text-gray-600" },
                          as: :text,
                          label: "Características",
                          input_html: { rows: 3,
                                        class: "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm
                                        text-gray-900} focus:border-blue-500 focus:ring-primary-500 dark:border-gray-600
                                        dark:bg-gray-100 dark:text-gray-800 dark:placeholder:text-gray-400
                                        dark:focus:border-primary-500 dark:focus:ring-primary-500 min-h-[100px]" }
              %>
            </div>
            <div class="mt-2">
              <%= f.input :price,
                          as: :decimal,
                          step: 0.01,
                          label: "Preço",
                          label_html: { class: "mb-2 block text-sm font-medium text-gray-900 dark:text-gray-900" },
                          input_html: {
                            value: plan.price,
                            required: true,
                            step: 0.01,
                            min: 0,
                            class: "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900
                              focus:border-blue-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-100
                              dark:text-gray-800 dark:placeholder:text-gray-400 dark:focus:border-primary-500
                              dark:focus:ring-primary-500"
                          }%>
            </div>
            <div class="mt-2">
              <%= f.input :stripe_product_id,
                          label: "ID do Produto no Stripe",
                          label_html: { class: "mb-2 block text-sm font-medium text-gray-900 dark:text-gray-900" },
                          input_html: {
                            value: plan.stripe_product_id,
                            class: "block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900
                              focus:border-blue-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-100
                              dark:text-gray-800 dark:placeholder:text-gray-400 dark:focus:border-primary-500
                              dark:focus:ring-primary-500"
                          }
              %>
            </div>

            <div class="flex items-center space-x-4">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600
                dark:hover:bg-blue-700 ark:focus:ring-blue-800">
                Atualizar Plano
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
